body {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: bold;
}

nav {
  background-color: #fce4ec !important;
}

a {
  background-color: rgb(141, 137, 137);
  text-align: center;
  justify-content: center;
  padding: 15px;
  border-color: lightgray;
  border-style: solid;
  color: white;
}

a :hover {
  color: pink;
  font-weight: bold;
}

#left-btn {
  padding-right:100px;
}

.container img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.content {
  margin: 140px;
  padding: 140px;
}

input::placeholder { 
  color: black;
  font-weight: bold
}

textarea::placeholder { 
  color: black;
  font-weight: bold
}
label {
  color: black;
  font-weight: bold;
}

span {
  color: black;
  font-weight: bold;
}

.btn {
  color: black;
}